@mixin flexcenter($direction) {
	display: flex;
	flex-direction: $direction;
	justify-content: space-between;
    align-items: center;
    align-content: space-around;
}

$picpath: "./pics";
$colors-swatch: (
	"blacklight": #272a31,
	"redlight": #ed4835,
	"dark-white": #d3d3d3,
  "white-light":#fff,
  "gra":  rgb(205, 202, 202)
);

$font: 'Lato', sans-serif;
$f-weights: (
	"regula": 700,
	"big": 900,
	"mid": 400 
);