
$picpath: "./pics";
$colors-swatch: (
  "blacklight": #272a31,
  "redlight": #d2331a,
  "red2": #a04038,
  "dark-white": #d3d3d3,
  "white-light":#fff,
  "gra":  rgb(205, 202, 202)
);

$font: 'Lato', sans-serif;
