@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
@import "./reset";
@import "./about";
@import "./variable";

@font-face {
  font-family: "cocogoose";
  src: url(../font/Cocogoose.ttf);
}

@font-face {
  font-family: "cocogoose1";
  src: url(../font/Cocogoose1.ttf);
}

@mixin flexcenter($direction) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
}

$breakpoint-tablet: 375px;

@media (min-width: $breakpoint-tablet) {
  body {
    margin: 0 auto;
    font-family: $font;
    overflow: scroll;
  }

  main {
    background: url(../pics/tech.webp);
    background-size: contain;
    background-repeat: no-repeat;
  }

  header {
    height: 100px;
  }

  .hambuger {
    display: block;
    cursor: pointer;
    margin-right: 90%;
  }

  .hambuger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hambuger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hambuger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    display: none;
  }

  .nav-menu.active {
    position: fixed;
    width: 100vw;
    top: 1.5rem;
    overflow: hidden;
    height: 100vh;
    z-index: 10;

    @include flexcenter(column);

    background-color: rgb(241, 144, 144);
    transition-timing-function: ease-out;
    padding: 1rem 0 1.5rem 1rem;
    opacity: 0.95;

    .nav-items {
      font-size: 30px;
      padding: 3rem;
      font-weight: bold;
    }
  }

  .nav-items {
    font-size: 20px;
    list-style: none;
    margin-right: 0.5rem;
  }

  .nav-items:hover {
    color: #f74747;
    font-weight: bold;
    background: #fbfbfb;
  }

  .nav-items a {
    text-decoration: none;
  }

  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: #000;
  }

  .home-intro {
    color: map-get($colors-swatch, redlight);
    margin: 0 1.2rem 0 0.5rem;

    p {
      font-size: 22px;
    }

    h1 {
      font-size: 30px;
      background: url(../pics/h1.jpg);
      background-repeat: repeat;
      background-size: cover;
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      text-transform: uppercase;
      font-family: "cocogoose", "Arial", sans-serif;
      font-weight: 500;
      line-height: 1.3;
      -webkit-font-smoothing: antialiased;
    }
  }

  .intro-p {
    box-shadow: 5px 5px 5px 3px #f4e8e8;
    margin: 2rem 0.5rem 0.5rem 0.5rem;
    border: #d3d2d2 solid 1.5px;
  }

  .intro-p p,
  .p-present {
    margin: 1rem;
    padding: 0.5rem 0.3rem 0.5rem 0.7rem;
    font-size: 16px;
  }

  u {
    font-weight: bold;
  }

  strong {
    color: map-get($colors-swatch, redlight);
  }

  .intro-dat {
    margin: 1rem;

    h2 {
      font-size: 25px;
      font-weight: bold;
      color: map-get($colors-swatch, blacklight);
      display: block;
    }

    p {
      font-size: 14px;
    }
  }

  #home-container {
    margin-top: 3rem;
    background: url(../pics/back.jpg);
    color: map-get($colors-swatch, white-light);
    text-align: center;

    .icons {
      @include flexcenter(row);

      justify-content: space-evenly;

      h2 {
        text-align: center;
        font-size: 13px;
        color: #ff5438;
        font-weight: bold;
      }

      .mod-items {
        color: map-get($colors-swatch, white-light);
        font-size: 16px;
        padding: 1rem;
        text-align: left;
        margin-left: 1rem;
      }

      .mod-items li {
        list-style: square;
      }
    }

    h2 {
      text-align: center;
      font-style: normal;
      font-weight: 400;
    }

    .line {
      width: 6vw;
      margin-top: 0.3rem;
      border: 1px solid #a04038;
      margin-left: 47%;
    }

    .title2 {
      display: none;
    }
  }

  .dynamicimg1 {
    width: 40%;
    padding: 1rem;
  }

  .subdivpart1 {
    @include flexcenter(column);

    background: map-get($colors-swatch, blacklight);
    border-style: double;
    border: solid 2px rgb(222, 57, 57);
    margin: 0.5rem 2rem 0 2rem;
    opacity: 0.9;
    align-content: center;
    text-align: center;
  }

  .join-btn {
    width: 75vw;
    height: 15vh;
    margin: 2rem 2rem 2rem 3.4rem;
    background: map-get($colors-swatch, redlight);
    font-size: 25px;
    border-style: none;
    color: map-get($colors-swatch, white-light);
  }

  #teachers {
    background: url(../pics/tech.webp);
    background-size: contain;

    h2 {
      text-align: center;
      font-size: 25px;
      color: map-get($colors-swatch, blacklight);
    }

    .line {
      width: 6vw;
      margin-top: 0.2rem;
      margin-left: 48%;
      background: map-get($colors-swatch, red2);
    }

    .containerimg {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin-top: 2rem;
    }

    .speakers1 {
      max-width: 70%;
      margin-left: 1rem;
      margin-top: 1rem;
    }

    .imgdescrip {
      width: 100%;
      border: solid 1rem;
      border-style: double;
      background: map-get($colors-swatch, redlight);
    }

    .underline {
      width: 65%;
      margin: 0.5rem 4.5rem 0.5rem 0;
      border: solid 1px #ec5242;
    }

    .containerimg div:nth-of-type(1) {
      display: none;
    }

    .containerimg div:nth-of-type(2) {
      display: none;
    }

    .containerimg div:nth-of-type(3) {
      display: none;
    }

    .containerimg div:nth-of-type(4) {
      display: none;
    }

    .containerimg div:nth-of-type(1).active {
      display: grid;
    }

    .containerimg div:nth-of-type(2).active {
      display: flex;
      flex-direction: column;
    }

    .containerimg div:nth-of-type(3).active {
      display: grid;
    }

    .containerimg div:nth-of-type(4).active {
      display: flex;
      flex-direction: column;
    }

    .descrip {
      margin-right: 2rem;
      margin-top: 2rem;
    }

    .p-descrip {
      font-style: italic;
      color: map-get($colors-swatch, redlight);
      font-size: 12px;
      text-align: left;
    }

    .p2-descrip {
      font-size: 14px;
    }
  }

  .speak-btn {
    width: 90%;
    height: 40px;
    font-size: 18px;
    margin: 2rem 1rem 2rem 1.2rem;
    color: map-get($colors-swatch, blacklight);
    background: #fff;
    border: #d3d3d3 solid 1px;
    border-radius: 2px;

    .down {
      color: rgb(249, 62, 62);
    }
  }

  .des {
    position: relative;
    bottom: 9px;
    font-size: 26px;
    left: 5px;
    color: map-get($colors-swatch, redlight);
  }
}

@media (min-width: $breakpoint-tablet) and (max-width: 767px) {
  .header-1 {
    display: none;
  }

  .header-2 {
    display: none;
  }

  .partners {
    display: none;
  }

  footer {
    display: none;
  }

  .mobilef {
    display: none;
  }
}

$breakpoint-tablet-upper: 768px;

@media (min-width: $breakpoint-tablet-upper) {
  .navbar {
    display: none;
  }

  .mobilef {
    display: none;
  }

  .about-partner {
    display: none;
  }

  .header-1 {
    height: 30px;
    background: #3e3e3e;
    color: #fff;
  }

  .header-1d {
    @include flexcenter(row);

    justify-content: flex-end;

    ul {
      @include flexcenter(row);

      justify-content: space-evenly;
      gap: 2rem;
      margin-right: 3rem;
      list-style: none;
    }
  }

  .header-2 {
    height: 75px;
    background: #fff;
  }

  .desk-nav {
    @include flexcenter(row);

    justify-content: space-around;
  }

  .logo1 img {
    width: 50%;
  }

  .nav-d {
    @include flexcenter(row);

    justify-content: space-between;
    gap: 2rem;
    list-style: none;
  }

  .nav-d a {
    text-decoration: none;
    color: #868686;
    font-weight: 800;
    font-size: 14px;
  }

  .logo2 {
    width: 123px;
    height: 48px;
    border: 5px solid #ec4327;
    font-size: 14px;
    padding: 0.5rem 1rem 0.5rem 1rem;
    color: #ec5242;
    font-weight: 800;
    margin-top: 0.5rem;
  }

  .home {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home-intro {
    width: 732px;
    margin-top: 2rem;

    p {
      font-size: 30px;
    }

    h1 {
      font-size: 50px;
    }
  }

  .intro-p {
    width: 756px;
    height: 180px;
    padding-top: 1rem;
    background: #fcfcfc;
    box-shadow: 5px 5px 5px 3px #f4e8e8;
    margin: 0.5rem;
    border: #d3d2d2 solid 3px;

    p {
      width: 696px;
      background: #e8e7e7;
      height: 109px;
      padding-top: 2rem;
    }
  }

  .intro-p,
  .p-present {
    margin: 1rem;
    padding: 0.5rem 0.3rem 0.5rem 0.7rem;
    font-size: 16px;
  }

  u {
    font-weight: bold;
  }

  strong {
    color: map-get($colors-swatch, blacklight);
  }

  .intro-dat {
    margin: 1rem;

    h2 {
      font-weight: bold;
      color: map-get($colors-swatch, blacklight);
      display: block;
      width: 605px;
      font-size: 40px;
    }

    p {
      width: 608px;
      font-size: 20px;
    }
  }

  #home-container {
    width: 100%;
    z-index: -1;
    height: 90vh;
    padding: 7rem 0 4rem 0;
    background: #282b32;
    text-align: center;

    h2 {
      margin-top: 8rem;
      font-style: normal;
      font-weight: 400;
      font-size: 30px;
      margin-right: 1rem;
    }

    .line {
      width: 5vw;
      margin-top: 0.3rem;
      border: 1px solid #a04038;
      margin-left: 47%;
    }

    .title2 {
      text-align: center;
      color: white;
      margin-top: 4rem;

      .line2 {
        width: 14vw;
        background: #fff;
        margin-left: 43%;
        text-align: center;
      }
    }

    .containerhome {
      @include flexcenter(row);

      padding: 0 3rem 0 3rem;

      .subdivpart1 {
        @include flexcenter(column);

        background: #3b3e45;
        opacity: 0.7;
        text-align: center;
        width: 35vw;
        border-style: none;
        margin: 0 0.5em 0 0;
      }
    }

    .icons {
      @include flexcenter(column);

      justify-content: space-evenly;

      h2 {
        text-align: center;
        color: map-get($colors-swatch, redlight);
        margin-top: 0;
      }

      .mod-items {
        color: #fff;
        font-weight: bold;
        font-size: 17px;
        padding: 0.5rem;

        @include flexcenter(column);

        justify-content: space-evenly;
        gap: 0.5rem;
        margin: 0 0 1.3rem 0;
      }

      .mod-items li {
        list-style: none;
        background: map-get($colors-swatch, black);
      }

      .dynamicimg1 {
        width: 50%;
      }
    }
  }

  .join-btn,
  .speak-btn {
    display: none;
  }

  #teachers {
    h2 {
      margin-top: 1rem;
      text-align: center;
      font-size: 25px;
      color: map-get($colors-swatch, blacklight);
    }

    .line {
      width: 4vw;
      margin-top: 0.2rem;
      margin-left: 48%;
      background: map-get($colors-swatch, red2);
    }

    .containerimg {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      padding: 5rem;
    }

    .speakers1 {
      margin-left: 30%;
      margin-top: 1rem;
    }

    .descrip {
      margin-left: 10%;
    }
  }

  .partners {
    background: #414246;

    h3 {
      color: #8f8f91;
      font-style: normal;
      font-weight: 400;
      font-size: 30px;
      line-height: 28px;
      margin-top: 1rem;
    }

    .partners-1 {
      @include flexcenter(column);

      gap: 5rem;

      hr {
        width: 3vw;
        border: 2px solid #a04038;
        margin-left: 30%;
        margin-top: 0.3rem;
      }
    }

    .subpartners {
      @include flexcenter(row);

      justify-content: space-between;
      gap: 2rem;
      margin-bottom: 1rem;
    }
  }

  footer {
    @include flexcenter(row);

    padding: 3rem;
    text-align: center;

    div img {
      width: 50%;
    }
  }

  footer .foot-p {
    @include flexcenter(column);

    gap: 1rem;
  }
}
