@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "cocogoose";
  src: url(../font/Cocogoose.ttf);
}
.about {
  background: rgb(205, 202, 202);
  background: linear-gradient(rgba(77, 76, 76, 0), rgb(162, 161, 161));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: space-around;
  gap: 1rem;
  text-align: center;
}

.about-h h1 {
  font-size: 30px;
  font-weight: 300;
  background: url(../pics/h1.jpg);
  background-repeat: repeat;
  background-size: cover;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  text-transform: uppercase;
  font-family: "cocogoose", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
}
.about-h P {
  color: #e83926;
}

.about-p {
  width: 300px;
  border: #c0bebe solid 2px;
  margin-left: 0.4rem;
  background: #fff;
  box-shadow: 10px 5px 5px 3px #a1a0a0;
}
.about-p p, .about-p .about-activities .about-activities-1 .event2 p, .about-activities .about-activities-1 .event2 .about-p p {
  margin: 0.5rem;
  font-size: 14px;
  text-align: justify;
  color: #272a31;
}

.about-info {
  margin: 2rem;
  text-align: center;
}
.about-info p, .about-info .about-activities .about-activities-1 .event2 p, .about-activities .about-activities-1 .event2 .about-info p, .about-info u {
  font-size: 12px;
}

.about-date {
  text-align: center;
  width: 270px;
}

.about-host {
  margin-bottom: 2rem;
}

.about-host-p {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: space-around;
  text-align: center;
  gap: 1rem;
}
.about-host-p hr {
  width: 30px;
  margin-right: 40%;
  margin-top: 0;
  border: solid red 1px;
}
.about-host-p p, .about-host-p .about-activities .about-activities-1 .event2 p, .about-activities .about-activities-1 .event2 .about-host-p p {
  margin-top: 1rem;
}

.about-logo {
  padding: 2rem;
  border: #d3d3d3 solid 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: space-around;
  justify-content: space-around;
  gap: 0;
  width: 300px;
  box-shadow: 7px 5px 5px 5px #bcb0b0;
}
.about-logo .logo {
  margin: 1rem;
  width: 20%;
  margin-left: 3rem;
}
.about-logo div {
  margin-right: 2rem;
}
.about-logo div p, .about-logo div .about-activities .about-activities-1 .event2 p, .about-activities .about-activities-1 .event2 .about-logo div p {
  font-size: 25px;
  font-weight: 900;
}
.about-logo div h5 {
  font-size: 10px;
}
.about-logo div .line1 {
  width: 60%;
  border: solid 1px;
  margin-left: 20%;
}

.lined {
  border: solid rgb(181, 179, 179) 1px;
  width: 100%;
  margin: 0;
}

.about-activities, .about-activities .about-activities-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: space-around;
  margin-bottom: 2rem;
  gap: 1rem;
}
.about-activities .line3 {
  width: 10%;
  border: solid rgb(252, 56, 56) 1px;
  margin-left: 0;
  margin-top: 0;
}
.about-activities .about-activities-1 {
  margin: 0;
  gap: 1rem;
}
.about-activities .about-activities-1 .event {
  width: 100%;
  z-index: 0;
}
.about-activities .about-activities-1 .event1, .about-activities .about-activities-1 .event2 {
  margin-top: 1rem;
  background-image: url("../pics/image44.png");
  height: 180px;
  width: 350px;
  box-shadow: inset 0 0 0 1000vmax rgba(236, 82, 66, 0.5);
}
.about-activities .about-activities-1 .event1 p, .about-activities .about-activities-1 .event2 p {
  text-align: center;
  font-size: 16px;
  margin-top: 1rem;
  color: #fff;
}
.about-activities .about-activities-1 .event2 {
  background-image: url("../pics/imageorg.jpg");
}
.about-partner {
  color: #fff;
  background-color: #272a31;
  padding: 1rem;
}
.about-partner h3 {
  text-align: center;
}
.about-partner hr {
  border: solid red 1px;
  margin-right: 10%;
  width: 12%;
}
.about-partner .partner1, .about-partner .partner2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: space-around;
  list-style: none;
  font-size: 25px;
  gap: 1rem;
  margin: 2rem 2rem 0 0;
}
.about-partner .partner2 {
  margin: 2rem 2rem 2rem 2rem;
}

footer {
  width: 100%;
  padding: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: space-around;
  justify-content: space-around;
}
footer div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: space-around;
}
footer div p, footer div .about-activities .about-activities-1 .event2 p, .about-activities .about-activities-1 .event2 footer div p {
  font-size: 12px;
  font-weight: bold;
}
footer div .logo {
  width: 25%;
}

@font-face {
  font-family: "cocogoose";
  src: url(../font/Cocogoose.ttf);
}
@font-face {
  font-family: "cocogoose1";
  src: url(../font/Cocogoose1.ttf);
}
body {
  margin: 0 auto;
  width: 375px;
  font-family: "Lato", sans-serif;
}

main {
  background: url(../pics/tech.webp);
  background-size: contain;
  background-repeat: no-repeat;
}

header {
  height: 100px;
}
header nav {
  margin: 1rem;
  font-size: 30px;
}

.home-intro {
  color: #e83926;
  margin: 0 1.2rem 0 0.5rem;
}
.home-intro p, .home-intro .about-activities .about-activities-1 .event2 p, .about-activities .about-activities-1 .event2 .home-intro p {
  font-size: 22px;
}
.home-intro h1 {
  font-size: 30px;
  font-weight: 300;
  background: url(../pics/h1.jpg);
  background-repeat: repeat;
  background-size: cover;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  text-transform: uppercase;
  font-family: "cocogoose", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
}

.intro-p {
  box-shadow: 5px 5px 5px 3px #f4e8e8;
  margin: 0.5rem;
  border: #d3d2d2 solid 1.5px;
}

.intro-p p, .intro-p .about-activities .about-activities-1 .event2 p, .about-activities .about-activities-1 .event2 .intro-p p,
.p-present {
  margin: 1rem;
  padding: 0.5rem 0.3rem 0.5rem 0.7rem;
  font-size: 16px;
}

u {
  font-weight: bold;
}

strong {
  color: #e83926;
}

.intro-dat {
  margin: 1rem;
}

.intro-dat h2 {
  font-size: 25px;
  font-weight: bold;
  color: #272a31;
  display: block;
  -webkit-margin-before: 0.83em;
          margin-block-start: 0.83em;
  -webkit-margin-after: 0.83em;
          margin-block-end: 0.83em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}
.intro-dat p, .intro-dat .about-activities .about-activities-1 .event2 p, .about-activities .about-activities-1 .event2 .intro-dat p {
  font-size: 14px;
}

#home-container {
  margin-top: 3rem;
  background: url(../pics/back.jpg);
  color: #fff;
}
#home-container h2 {
  text-align: center;
}

hr {
  width: 100px;
  border: solid #ec5242;
  margin-left: 40%;
  margin-top: 0.5rem;
}

.dynamicimg1 {
  width: 40%;
  padding: 1rem;
}

.subdivpart1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: space-around;
  margin-top: 1rem;
  background: #fff;
  border-style: double;
  border: solid 2px;
  width: 300px;
  margin-left: 2.3rem;
  opacity: 0.9;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: space-around;
  justify-content: space-evenly;
}
.icons h2 {
  text-align: center;
  font-size: 13px;
  color: red;
  font-weight: bold;
}
.icons .mod-items {
  color: #272a31;
  font-size: 12px;
  padding: 1rem;
  text-align: left;
  width: 100px;
  margin-left: 1rem;
}
.icons .mod-items li {
  list-style: square;
}

.join-btn {
  width: 270px;
  height: 80px;
  margin: 2rem 2rem 2rem 3.4rem;
  background: #e83926;
  font-size: 25px;
  border-style: none;
  color: #d3d3d3;
}

#teachers {
  background: url(../pics/tech.webp);
  background-size: contain;
}
#teachers h2 {
  text-align: center;
  font-size: 25px;
  color: #272a31;
}
#teachers hr {
  width: 80px;
  margin-top: 0.5rem;
}
#teachers .speakers1 {
  width: 50%;
  text-align: center;
}
#teachers .imgdescrip {
  width: 70%;
  border: solid 1rem;
  border-style: double;
  background: #e83926;
}
#teachers .underline {
  width: 65%;
  margin: 0.5rem 4.5rem 0.5rem 0;
  border: solid 1px #ec5242;
}
#teachers .speakers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: space-around;
  margin-top: 1rem;
}
#teachers .descrip {
  margin-right: 1rem;
  width: 250px;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: space-around;
}
#teachers .p-descrip {
  font-style: italic;
  color: #e83926;
  font-size: 12px;
  text-align: justify;
  margin-top: 0.5rem;
}
#teachers .p2-descrip {
  font-size: 14px;
}

.speak-btn {
  width: 90%;
  height: 40px;
  font-size: 18px;
  margin: 2rem 1rem 2rem 1.2rem;
  color: #272a31;
  background: #fff;
  border: #d3d3d3 solid 1px;
  border-radius: 2px;
}
.speak-btn .des {
  position: relative;
  bottom: 9px;
  font-size: 26px;
  left: 5px;
  color: #e83926;
}/*# sourceMappingURL=styles.css.map */