@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
}

.about {
  background: rgb(205, 202, 202);
  background: linear-gradient(rgba(77, 76, 76, 0), rgb(162, 161, 161));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: space-around;
  gap: 1rem;
  text-align: center;
}

.about-h h1 {
  font-size: 30px;
  margin-top: 0.5rem;
}
.about-h P {
  color: #ed4835;
}

.about-p {
  width: 300px;
  border: #d3d3d3 solid 2px;
  margin-left: 0.4rem;
  background: #fff;
  box-shadow: transparent;
}
.about-p p {
  margin: 0.5rem;
  font-size: 14px;
  text-align: justify;
  color: #272a31;
}

.about-info {
  margin: 2rem;
  text-align: center;
}
.about-info p, .about-info u {
  font-size: 12px;
}

.about-date {
  text-align: center;
  width: 270px;
}

.about-host {
  margin-bottom: 2rem;
}

.about-host-p {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: space-around;
  text-align: center;
  gap: 1rem;
}
.about-host-p hr {
  width: 30px;
  margin-right: 40%;
  margin-top: 0;
  border: solid red 1px;
}
.about-host-p p {
  margin-top: 1rem;
}

.about-logo {
  padding: 2rem;
  border: #d3d3d3 solid 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: space-around;
  justify-content: space-around;
  gap: 0;
}
.about-logo .logo {
  margin: 1rem;
  width: 20%;
  margin-left: 3rem;
}
.about-logo div {
  margin-right: 2rem;
}
.about-logo div p {
  font-size: 25px;
  font-weight: 900;
}
.about-logo div h5 {
  font-size: 10px;
}
.about-logo div .line1 {
  width: 50%;
  border: solid 1px;
}

.lined {
  border: solid rgb(181, 179, 179) 1px;
  width: 100%;
  margin: 0;
}

.about-activities {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: space-around;
  padding: 2rem;
  gap: 1rem;
}
.about-activities .line3 {
  width: 10%;
  border: solid rgb(252, 56, 56) 1px;
  margin-left: 0;
  margin-top: 0;
}
.about-activities .about-activities-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: space-around;
  margin: 0;
  gap: 1rem;
}
.about-activities .about-activities-1 .event {
  width: 100%;
  z-index: 0;
}
.about-activities .about-activities-1 .event1 {
  margin-top: 1rem;
  background-image: url("../pics/image44.png");
  height: 180px;
  width: 350px;
  box-shadow: inset 0 0 0 1000vmax rgba(236, 82, 66, 0.5);
}
.about-activities .about-activities-1 .event1 p {
  text-align: center;
  font-size: 17px;
  margin-top: 1rem;
  color: #fff;
}
.about-activities .about-activities-1 .event2 {
  background-image: url("../pics/imageorg.jpg");
  height: 180px;
  width: 350px;
  box-shadow: inset 0 0 0 1000vmax rgba(236, 82, 66, 0.5);
}
.about-activities .about-activities-1 .event2 p {
  text-align: center;
  font-size: 17px;
  margin-top: 1rem;
  color: #fff;
}

.about-partner {
  color: #fff;
  background-color: #272a31;
  padding: 1rem;
}
.about-partner h3 {
  text-align: center;
}
.about-partner hr {
  margin-right: 20%;
  width: 20%;
}
.about-partner .partner1, .about-partner .partner2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: space-around;
  list-style: none;
  font-size: 25px;
  gap: 1rem;
  margin-top: 2rem;
}
.about-partner .partner2 {
  margin: 2rem 2rem 2rem 2rem;
}
.about-partner .partner1 {
  margin: 2rem 2rem 0 0;
}

footer {
  padding: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: space-around;
  justify-content: space-around;
}
footer div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: space-around;
}
footer div p {
  font-size: 12px;
  font-weight: bold;
}
footer div .logo {
  width: 25%;
}

body {
  margin: 0 auto;
  width: 375px;
  font-family: "Lato", sans-serif;
}

main {
  background: url(../pics/tech.webp);
}

header {
  height: 100px;
}
header nav {
  margin: 1rem;
  font-size: 30px;
}

.home-intro {
  color: #ed4835;
  margin: 0 1.2rem 0 0.5rem;
}
.home-intro .home-intro-intro p {
  font-size: 22px;
}
.home-intro .home-intro-intro h1 {
  font-size: 42px;
  text-shadow: 2px 2px 7px #ed4835;
}

.intro-p {
  box-shadow: 5px 5px 5px 3px #dddddd;
  margin: 0.5rem;
  border: #d3d2d2 solid 1px;
}

.intro-p p,
.p-present {
  margin: 1rem;
  padding: 0.5rem 0.3rem 0.5rem 0.7rem;
  font-size: 16px;
}

u {
  font-weight: bold;
}

strong {
  color: #ed4835;
}

.intro-dat {
  margin: 1rem;
}

.intro-dat date {
  font-size: 22px;
}

.intro-dat p {
  font-size: 14px;
}

#home-container {
  margin-top: 3rem;
  background-color: #272a31;
  color: #d3d3d3;
}
#home-container h2 {
  text-align: center;
}

hr {
  width: 100px;
  border: solid #ec5242;
  margin-left: 40%;
  margin-top: 0.5rem;
}

.dynamicimg1 {
  width: 100%;
}

.icons h2 {
  text-align: center;
  font-size: 23px;
}
.icons .mod-items {
  background: rosybrown;
  color: #272a31;
  font-size: 20px;
  padding: 1rem;
}
.icons .mod-items li {
  list-style: square;
  background: #d3d2d2;
  margin-left: 1rem;
  margin: 0.5rem;
}

.join-btn {
  width: 270px;
  height: 80px;
  margin: 2rem 2rem 2rem 3.4rem;
  background: #ed4835;
  font-size: 25px;
  border-style: none;
  color: #d3d3d3;
}

#teachers h2 {
  text-align: center;
  font-size: 25px;
  color: #272a31;
}
#teachers hr {
  width: 80px;
  margin-top: 0.5rem;
}
#teachers .speakers1 {
  width: 50%;
  text-align: center;
}
#teachers .imgdescrip {
  width: 70%;
  border: solid 1rem;
  border-style: double;
  background: #ed4835;
}
#teachers .underline {
  width: 65%;
  margin: 0.5rem 4.5rem 0.5rem 0;
  border: solid 1px #ec5242;
}
#teachers .speakers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: space-around;
  margin-top: 1rem;
}
#teachers .descrip {
  margin-right: 1rem;
  width: 250px;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: space-around;
}
#teachers .p-descrip {
  font-style: italic;
  color: #ed4835;
  font-size: 12px;
  text-align: justify;
  margin-top: 0.5rem;
}
#teachers .p2-descrip {
  font-size: 14px;
}

.speak-btn {
  width: 90%;
  height: 40px;
  font-size: 18px;
  margin: 2rem 1rem 2rem 1.2rem;
  color: #272a31;
  background: #fff;
  border: #d3d3d3 solid 1px;
  border-radius: 2px;
}
.speak-btn .des {
  position: relative;
  bottom: 9px;
  font-size: 26px;
  left: 5px;
  color: #ed4835;
}/*# sourceMappingURL=styles.css.map */