@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
@import "./reset";
@import "./about";
@import "./variable";
@font-face {
  font-family:"cocogoose";
  src: url(../font/Cocogoose.ttf);
}
@font-face {
  font-family:"cocogoose1";
  src: url(../font/Cocogoose1.ttf);
}

@mixin flexcenter($direction) {
	display: flex;
	flex-direction: $direction;
	justify-content: space-between;
    align-items: center;
    align-content: space-around;
}


body {
	margin: 0 auto;
	width: 375px;
	font-family: $font;
  //@include mobile ;
  
}

main {
	background: url(../pics/tech.webp);
	//border: solid rgb(222, 38, 17) 2px;
  background-size: contain;
  background-repeat: no-repeat;
}

header {
	height: 100px;
	//border: solid salmon 2px;
	// background: url(../pics/itkids.jpg);
}
		
    .hambuger {
      display: block;
      cursor: pointer;
      margin-right: 90%;
    }


    .hambuger.active .bar:nth-child(2) {
      opacity: 0;
    }

    .hambuger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }

    .hambuger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
      display: none;
    }

.nav-menu.active {
  position: relative;
  overflow: hidden;
  @include flexcenter(row);
  background-color: rgb(241, 144, 144);
  transition-timing-function: ease-out;
  padding: 1rem 0 1.5rem 1rem;
  opacity: 0.8;
}

.nav-items {
  font-size: 20px;
  list-style: none;
  margin-right: 0.5rem;
}

.nav-items:hover {
  color: #f74747;
  font-weight: bold;
  background: #fbfbfb;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3 ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #000;
}

.link .active:nth-child(2) {
  display: contents;
}

.home-intro {
	color: map-get($colors-swatch, redlight);
	margin: 0 1.2rem 0 0.5rem;

	 p {
		font-size: 22px;
	}

	 h1 {
		font-size: 30px;
    font-weight: 300;
    background: url(../pics/h1.jpg);
    background-repeat: repeat;
    background-size: cover;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
    font-family: "cocogoose", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.3;
    -webkit-font-smoothing: antialiased;
	}

}

.intro-p {
	box-shadow: 5px 5px 5px 3px #f4e8e8;
	margin: 0.5rem;
	border: #d3d2d2 solid 1.5px;
}
.intro-p p,
.p-present {
	margin: 1rem;
	padding: 0.5rem 0.3rem 0.5rem 0.7rem;
	font-size: 16px;
}

u {
	font-weight: bold;
}

strong {
	color: map-get($colors-swatch, redlight);
}

.intro-dat {
	margin: 1rem;
	//border: solid 3px #840a0a;
}

.intro-dat {
  h2 {
	font-size: 25px;
  font-weight: bold;
  color: map-get($colors-swatch, blacklight);
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

 p {
	font-size: 14px;
}
}

#home-container {
	margin-top: 3rem;
  background: url(../pics/back.jpg);
	color: map-get($colors-swatch, white-light);
	h2 {
		text-align: center;
	}
}

hr {
	width: 100px;
	border: solid #ec5242;
	margin-left: 40%;
	margin-top: 0.5rem;
}

.dynamicimg1 {
	width: 40%;
  padding: 1rem;
}

.subdivpart1 {
  @include flexcenter(column);
  margin-top: 1rem;
  background: map-get($colors-swatch,  white-light);
  border-style: double;
  border: solid 2px;
  width: 300px;
  margin-left: 2.3rem;
  opacity: 0.9;
}
.icons {
  @include flexcenter(row);
  justify-content: space-evenly;

	h2 {
		text-align: center;
		font-size: 13px;
    color: red;
    font-weight: bold;
	}

	.mod-items {
		color: map-get($colors-swatch, blacklight);
		font-size: 12px;
		padding: 1rem;
   
    text-align: left;
    width: 100px;
    margin-left: 1rem;
    
	}
	.mod-items li {
		list-style: square;
		
		
	}
}

.join-btn {
	width: 270px;
	height: 80px;
	margin: 2rem 2rem 2rem 3.4rem;
	background: map-get($colors-swatch, redlight);
	font-size: 25px;
	border-style: none;
	color: map-get($colors-swatch, dark-white);
}

#teachers {
  background: url(../pics/tech.webp);
  background-size: contain;
  //background-repeat: no-repeat;

	h2 {
		text-align: center;
		font-size: 25px;
		color: map-get($colors-swatch, blacklight);
	}

	hr {
		width: 80px;
		margin-top: 0.5rem;
	}

	.speakers1 {
		width: 50%;
		// background: map-get($colors-swatch , blacklight );
		text-align: center;
	}

	.imgdescrip {
		width: 70%;
		border: solid 1rem;
		border-style: double;
		background: map-get($colors-swatch, redlight);
	}

	.underline {
		width: 65%;
		margin: 0.5rem 4.5rem 0.5rem 0;
		border: solid 1px #ec5242;
	}

	.speakers {
		@include flexcenter(row);
		margin-top: 1rem;
	}
	.descrip {
		margin-right: 1rem;
		width: 250px;
		margin-bottom: 1rem;
		@include flexcenter(column);
	}

	.p-descrip {
		font-style: italic;
		color: map-get($colors-swatch, redlight);
		font-size: 12px;
		text-align: justify;
		margin-top: 0.5rem;
	}

	.p2-descrip {
		font-size: 14px;
	}
}

.speak-btn {
	width: 90%;
	height: 40px;
	font-size: 18px;
	margin: 2rem 1rem 2rem 1.2rem;
	color: map-get($colors-swatch, blacklight);
	background: #fff;
	border: #d3d3d3 solid 1px;
	border-radius: 2px;

	.des {
		position: relative;
		bottom: 9px;
		font-size: 26px;
		left: 5px;
		color: map-get($colors-swatch, redlight);
	}
}

$breakpoint-tablet: 768px;
@media (min-width: $breakpoint-tablet) {
  body {
    //background: red;
  }
}